@import './../../scss/variables';

.thumbnail-list-container {
  margin: 1rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media (max-width: $portrait-tablet-breakpoint) {
    margin: 1rem 50%;
  }
}

