@import './../../scss/variables';

.list-wrapper {
  @media (max-width: $portrait-tablet-breakpoint) {
   height: 90vh;
   overflow-y: scroll;
  }
}

.thumbnail-list-container {
  margin: 1rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media (max-width: $portrait-tablet-breakpoint) {
    margin: 1rem 50%;
  }
}

.loading {
  width: fit-content;
  margin: 0 auto;
}

app-paginator {
  @media (max-width: $portrait-tablet-breakpoint) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 0;
  }
}
